//------------------------------------------------------------------------------
// bg-blur
//------------------------------------------------------------------------------



.bg-blur {
  width: 320px;
  height: 320px;
  position: absolute;
  z-index: -1;
  opacity: 0.24;
  filter: blur(100px);
  pointer-events: none;

  @include respond(small) {
    width: 220px;
    height: 220px;
  }
}
