//------------------------------------------------------------------------------
// The-Footer
//------------------------------------------------------------------------------



#the-footer {
  margin-top: 60px;
  padding: 70px 0 53px 0;
  background-color: $color-blue;

  .content {
    display: grid;
    grid-template-columns: 100px auto 380px;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
      "logo nav feed"
      "logo bot feed";
    column-gap: 50px;

    .logo {
      grid-area: logo;

      i {
        width: 100px;
        height: 88px;
        fill: $color-white;
        transition: fill 0.25s ease-in-out;

        &:hover {
          fill: $color-dark-bg;
        }
      }
    }

    nav {
      grid-area: nav;
      padding: 30px;
      color: $color-white;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      border-bottom: 1px solid $color-light-blue;

      ul {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;

        a {
    
          &::after {
            background-color: $color-dark-bg;
          }
        }
      }
    }

    .feed {
      grid-area: feed;
      align-self: start;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px 0;
      background-color: $color-white;
      border-radius: 12px;

      a {
        display: block;

        &:nth-child(3) {
          padding-top: 18px;
        }
      }

      h4 {
        padding-bottom: 26px;
      }

      .ui-social-icons {
        padding-top: 23px;
      }
    }

    .bot {
      grid-area: bot;
      padding-top: 30px;
      color: $color-white;
      text-align: center;

      a {
        display: block;

        &:first-child, &:last-of-type {
          padding-bottom: 16px;
        }
      }
    }

    nav, .bot {

      a {
        transition: color 0.25s ease-in-out;

        &:hover {
          color: $color-dark-bg;
        }

        &:focus {
          color: $color-white;
        }
      }
    }
  }

  @include respond(large) {
    
    .content {
      column-gap: 20px;
      grid-template-columns: 100px auto 310px;

      nav {
        padding: 30px 0;

        ul {
          justify-content: space-around;
        }
      }
    }
  }

  @include respond(medium) {
    padding: 60px 0 24px 0;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      nav {
        max-width: 300px;
        border: none;

        ul {
          flex-direction: column;
          gap: 14px;
          padding-bottom: 40px;
        }
      }

      .feed {
        align-self: center;
        padding: 35px 90px;
      }
    }
  }

  @include respond(small-sm) {

    .content {

      .feed {
        align-self: stretch;
        padding: 35px 0;
      }
    }
  }
}