//------------------------------------------------------------------------------
// Feedback
//------------------------------------------------------------------------------


#form {

  .fields {
    margin: 40px 0 50px;
    display: flex;
    gap: 21px;
  }

  .agreement {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  // ui-input

  .ui-input {
    position: relative;
    flex-basis: 100%;

    input {
      padding: 17px 16px 17px 0;
      width: 100%;
      color: $color-black;
      border: 1px solid $color-dark-bg;
      border-radius: 10px;
      outline: none;
      text-indent: 16px;
      transition: border-color .25s ease-in-out, box-shadow .25s ease-in-out;

      &:focus {
        box-shadow: $shadow-primary;
      }

      &:hover {
        box-shadow: $shadow-primary;
      }

      &.error {
        border-color: $color-rad;
      }
    }

    span {
      position: absolute;
      left: 7px;
      right: 7px;
      top: calc(100% + 5px);
      color: $color-rad;
      z-index: 1;

    }
  }
  
  .error-enter-active,
  .error-leave-active {
    transition: opacity .25s ease-in-out;
  }
  
  .error-enter-from,
  .error-leave-to {
    opacity: 0;
  }


  // ui-checkbox

  .ui-checkbox {
    display: inline-flex;

    .checkbox {
      width: 16px;
      height: 16px;
      display: inline-block;
      flex-shrink: 0;
      position: relative;
      border: 1px solid $color-blue;
      border-radius: 3px;
      cursor: pointer;
      transition: border-color .25s ease-in-out;

      &:hover {
        border-color: $color-light-blue;
      }

      &.error {
        border-color: $color-rad;

        &:hover {
          border-color: #C25A73;
        }
      }

      &.shake {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }

      i {
        width: 16px;
        height: 16px;
        position: absolute;
        top: -1px;
        left: -1px;

        svg {
          fill: $color-blue;
          transition: fill 0.25s ease-in-out;
        }

        &:hover {

          svg {
            fill: $color-light-blue;
          }
        }
      }
    }

    p {
      margin-left: 6px;

      a {
        color: $color-blue;
      }
    }
  }

  @include respond(small) {

    form {
      max-width: 350px;
    }

    .fields {
      flex-direction: column;
      gap: 25px;
    }

    .agreement {
      padding: 0 20px;
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }

  @include respond(small-sm-md) {
    
    .ui-input {

      span {
        left: 0;
        right: 0;
        font-size: 11px;
        text-align: center;
      }
    }
  }
}