//------------------------------------------------------------------------------
// Base
//------------------------------------------------------------------------------



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  position: relative;
  background-color: #fff;

  @include respond(small-sm-ex) {
    width: 300px;
  }
}

section {

  &:first-of-type {
    padding-bottom: 60px;

    @include respond(small) {
      padding-bottom: 30px;
    }
  }

  &:not(:first-of-type) {
    padding: 60px 0;

    @include respond(small) {
      padding: 30px 0;
    }
  }
}

button {
  border: none;
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: inherit;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

li {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
select { /* 1 */
  text-transform: none;
}
